<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Textutils</title>
</head>
<body>
<center>
<h3>Enter Text Below....</h3>
<form method="get" action="/analyze">
    <textarea name='text' style='margin: 0px; height: 131px; width: 610px;'></textarea><br>
    <input type="checkbox" name="removepunc">Remove Puncutation<br>
    <input type="checkbox" name="fullcaps">Full Capitilize<br>
    <input type="checkbox" name="extraspace">Extra Space Remover<br>
    <input type="checkbox" name="newlineremover">New Line Remover<br>
    <button type="submit">Analyze</button>

</form>
    </center>

</body>
</html>